@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

*,
*::after,
*::before {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-y: scroll;
}
.none {
  display: none;
}
